html,
body {
  padding: 0;
  /* height: 100%;
  width: 100%; */
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*header*/
header {
  top: 0;
  left: 0;
  width: 100%;
  /* position: fixed; */
  display: flex;
  flex-direction: column;
}
.header-top {
  padding: 20px 40px;
  /* height: 40px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo h1 {
  margin: 0;
}

.toggle-btn {
  cursor: pointer;
  right: 1rem;
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  border-radius: 1.5px;
  background-color: rgb(231, 35, 39);
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 9px) rotate(-45deg);
  background-color: rgb(231, 35, 39);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
  background-color: rgb(231, 35, 39);
}
a {
  text-decoration: none;
}

#header-nav {
  margin: 0;
  background-color: rgb(231, 35, 39);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
}

.header-nav_list li {
  display: inline-block;
  padding-right: 2rem;
}
.header-nav_list-item {
  white-space: nowrap;
  color: white;
  display: inline-block;
}

.language {
  color: white;
}

.language-selector {
  display: inline-block;
  margin: 1rem;
}

.selected {
  color: black;
}

nav a:hover {
  color: black;
  transition: 0.4s;
}

/* make them change color together */
.toggle-btn:hover .bar1,
.toggle-btn:hover .bar2,
.toggle-btn:hover .bar3 {
  background-color: black;
}

/* body */
/* Home */
.banner {
  background: url(../images/HomePagePicture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
}
#bannerRow {
  padding: 1rem;
}
#bannerBG {
  min-height: 336px;
  opacity: 0.8;
  background-color: white;
  /* border-radius: 10px; */
}
.banner-story {
  padding: 2rem;
  text-align: left;
}

.preview {
  padding: 2rem 0;
  width: 100%; /* Set the width of the container */
  overflow-x: auto; /* Enable horizontal scrollbar */
  white-space: nowrap; /* Prevent content from wrapping */
  height: 300px;
  box-shadow: 0 0px 20px gray inset;
}

.preview-card {
  display: inline-block;
  margin: 0 1rem;
  height: 300px;
  position: relative;
  overflow: hidden;
  /* display: flex;
  align-items: center; */
}

.preview-card img {
  height: 100%;
}
.preview-card:hover:not(:first-child) {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.map {
  min-height: 300px;
  border: 3px dashed #841a1a;
}

.contact {
  min-height: 300px;
  background-color: antiquewhite;
}
.contact_card {
  width: 100vw;
  flex-grow: 1;
  border: 3px dashed #841a1a;
}

/* Menu */
.menu-category {
  padding: 0 1rem;
  overflow-x: auto;
  white-space: nowrap;
  color: hsl(0deg 0% 50%);
  background-color: #f5f5f5;
}
.menu-category-list {
  margin: 0;
  padding: 0;
  display: flex;
}
.menu-category-list li {
  display: inline-block;
  padding: 1.5rem 1.5rem 0 1.5rem;
}
.menu-category-list li::after {
  display: block;
  padding-bottom: 1.5rem;
  content: "";
  border-bottom: 2px solid black;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.menu-category-list li:hover {
  color: black;
}

.menu-category-list li:hover::after {
  transform: scaleX(1);
}
.content {
  padding: 2rem;
  display: flex;
  /* margin: 16px; */
  gap: 16px;
  flex-wrap: wrap;
  box-shadow: 0 7px 7px hsl(0deg 0% 70%) inset;
}

/* menu item card*/
.item-cards {
  /* width: 300px;
  height: 100px;
  flex-grow: 1; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.5rem;
  margin: 1rem;
}
.card {
  border: 1px solid hsl(0deg 0% 70%);
  padding-left: 0.25rem;
  display: flex;
  justify-content: space-between;
  min-height: 140px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card .price {
  padding-top: 1rem;
}
.card > img {
  object-fit: cover;
  height: 150px;
  width: 150px;
  /* float: right; */
}
.card > img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#pagination {
  text-align: center;
  margin-bottom: 1rem;
}
#pagination > button {
  height: 3rem;
  width: 3rem;
  background-color: rgb(231, 35, 39);
  border: 1.5px solid #fff;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
}
#pagination > button:hover {
  background-color: #fff;
  color: rgb(231, 35, 39);
  border-color: rgb(231, 35, 39);
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(231, 35, 39);
  padding: 2rem;
  gap: 1rem;
}

.info {
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.info-card {
  text-align: center;
  width: 300px;
  height: 200px;
  border: 3px dashed #eee;
  flex-grow: 1;
}
.info-horizontal-line {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: white;
}
.info-bottom {
  display: flex;
  justify-content: space-between;
  color: white;
}

/* media queries */

@media screen and (min-width: 801px) {
  /* Body */
  #bannerBG {
    max-width: 42%;
    min-width: 30%;
  }
}

@media screen and (max-width: 800px) {
  /* Header */

  header {
    border-bottom: 1px solid rgb(231, 35, 39);
  }
  .header-top {
    padding: 1rem;
  }
  .toggle-btn {
    display: block;
  }
  #header-nav {
    flex-direction: column;
    display: none;
    /* height: 0; */
    /* opacity: 0; */
  }

  #header-nav.show {
    display: flex;
    /* height: auto;
    opacity: 1;
    transition: opacity 0.4s, height 0.4s; */
  }
  .header-nav_menu {
    width: 100%;
  }
  .header-nav_list {
    padding: 0;
    grid-auto-flow: row;
    list-style-type: none;
    row-gap: 0;
    column-gap: 0;
    justify-items: center;
    margin: 0 2rem;
  }
  .header-nav_menu li {
    padding: 0;
    line-height: 60px;
    width: 100%;
    border-bottom: 1px solid white;
    text-align: center;
  }

  .language-selector {
    padding-top: 20px;
  }

  /* Body */

  #bannerRow {
    padding: 0;
  }
}
